body {
  font-family: "Crimson Text", "Times New Roman", serif;
  background-color: #f2fffc;
  font-size: 120%;
}

h1, h2 {
  font-family: "Open Sans Condensed", "Arial", sans-serif;
}

h1 {
  text-align: center;
  background-color: #851944;
  color: #fff;
}

p {
  text-align: justify;
}

a {
  color: red;
  text-decoration: none;
}

a:visited {
  color: purple;
  text-decoration: underline;
}

a:hover {
  color: gold;
  font-weight: bold;
}